body {
    /* background-image: url("/assets/templates/n2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background: linear-gradient(180deg, #EBF8FF 0%, #F0F9FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 400px;
    padding: 70px 30px;
    background-color: #ebf4f6;
    border-radius: 35px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: monospace;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}


label {
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    padding-left: 8px;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button-group {
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #071952;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.register-link {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-top: 20px;
}

.sign-up a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.sign-up a:hover {
    text-decoration: underline;
}
