<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 - Bad Request</title>
    <link rel="stylesheet" href="/assets/templates/styles/error.css">
</head>

<body>
    <div class="error-container">
        <h1 class="error-code">400</h1>
        <p class="error-message">Bad request. Please check your input and try again.</p>
        <a href="/" class="error-button">Go Back Home</a>
    </div>
</body>

</html>
