<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/assets/templates/styles/about&contact.css">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <a href="http://localhost:8080/post" class="logo">Logo</a>
            <nav class="nav-links">
                <a href="http://localhost:8080/post">Home</a>
                <a href="/assets/templates/about.html">About</a>
                <a href="/assets/templates/contact.html">Contact</a>
            </nav>

        </div>
    </header>

    <div class="content-spacer"></div>

    <main>
        <section class="about-section">
            <h2>Welcome to Our Forum</h2>
            <p>
                Our Forum is a platform where users can come together to share ideas, ask questions, and build a
                supportive community.
                We are passionate about fostering meaningful discussions and helping individuals connect through shared
                interests.
            </p>
        </section>

        <section class="team-section">
            <h2>Our Team</h2>
            <div class="team-grid">
                <div class="team-member">
                    <img src="/assets/templates/profile_photos/panda.jpg" alt="Team Member 1">
                    <h3>Aymen Hiti</h3>
                </div>
                <div class="team-member">
                    <img src="/assets/templates/profile_photos/chihab.jpg" alt="Team Member 2">
                    <h3>The king benso</h3>
                </div>
                <div class="team-member">
                    <img src="/assets/templates/profile_photos/9otbi.jpg" alt="Team Member 3">
                    <h3>anas sbai</h3>
                </div>
                <div class="team-member">
                    <img src="/assets/templates/profile_photos/yt.png" alt="Team Member 3">
                    <h3>Yassine Rahhaoui</h3>
                </div>
            </div>
        </section>
    </main>
</body>

</html>